<div class="bg-white p-8 m-4 min-h-[90vh]">
  <div class="flex items-center justify-between mb-8">
    <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Basket</h3>
    <app-button routerLink="/baskets/new" preIcon="ri-add-line">
      Add new
    </app-button>
  </div>
  @if (loading) {
  <app-loading content="Loading baskets ..." />
  } @else if (baskets.length > 0) {
  <div
    class="grid grid-cols-1 bg-white md:grid-cols-2 xl:grid-cols-3 gap-5 mb-8 items-stretch"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="handleScroll()"
  >
    @for (basket of baskets; track basket.id) {
    <app-item-basket [basket]="basket" (deleted)="deleteBasket(basket.id)" />
    } @if (basketsLoading) {
    <div class="flex justify-center items-center p-4">
      <div class="animate-spin">
        <i class="ri-loader-4-line"></i>
      </div>
    </div>
    }
  </div>
  } @else {
  <app-no-data icon="ri-shopping-basket-2-line" message="No baskets found" />
  }
</div>
