<div
  class="p-4 mt-4 mx-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
  <div class="items-center justify-between lg:flex">
    <div class="mb-4 lg:mb-0">
      <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">
        User
      </h3>
    </div>
    <div class="items-center sm:flex">
    </div>
    <form class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <i class="ri-search-line"></i>
      </div>
      <input type="search" id="default-search" #search
        class="block w-full min-w-[20vw] p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Search By Name, Email..." required />
      <button type="submit" (click)="filterDemands(search.value)"
        class="text-white absolute end-2.5 bottom-2.5 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Search</button>
    </form>
  </div>
  <div class="flex min-h-[70vh] flex-col mt-6">
    @if (loading) {
    <app-loading content="Loading Users ..." />
    } @else if (user.length > 0) {
    <div class="overflow-x-auto rounded-lg">
      <div class="inline-block min-w-full align-middle">
        <div class="overflow-hidden shadow sm:rounded-lg">
          <div class="flex justify-between w-full bg-gray-100">
            <div class="p-4 w-4/12 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
              User
            </div>
            <div class="p-4 w-4/12 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
              email
            </div>
            <div class="p-4 w-1/12 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
              Last Login
            </div>
            <div class="p-4 w-1/12 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
              Joined At
            </div>
            <div class="p-4 w-1/12 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
              Status
            </div>
            <div class="p-4 w-1/12 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
              Action
            </div>
          </div>
          @for (item of user; track $index; let index = $index) {
          <cdk-accordion-item #accordionItem="cdkAccordionItem" class="w-full" role="button" tabindex="0"
            [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-' + index">
            <div>
              <div class="flex justify-between w-full" (click)="accordionItem.toggle()">
                <div class="p-4 w-4/12 text-sm font-semibold text-gray-900 whitespace-nowrap dark:text-white">
                  {{ item.firstName }} {{ item.lastName }}
                </div>
                <div class="p-4 w-4/12 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                  {{ item.email }}
                </div>
                <div class="p-4  w-1/12 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                  {{ item.lastLogin }}
                </div>
                <div class="p-4 w-1/12 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                  {{ item.joinedAt }}
                </div>
                <div class="p-4 w-1/12 whitespace-nowrap">
                  <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox" class="sr-only peer" [checked]="!item.blocked">
                    <div
                      class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-primary-300 dark:peer-focus:ring-primary-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-primary-600">
                    </div>
                  </label>
                </div>
                <div class="flex w-1/12 items-center justify-center pr-8">
                  <i [class]="accordionItem.expanded ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line'"></i>
                </div>
              </div>
              <div class="example-accordion-item-body" role="region"
                [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                [attr.aria-labelledby]="'accordion-header-' + index">
                <div class="p-4 text-sm font-semibold text-gray-900 whitespace-nowrap dark:text-white">
                  {{ item.firstName }} {{ item.lastName }}
                </div>
                <div class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                  {{ item.email }}
                </div>
                <div class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                  {{ item.lastLogin }}
                </div>
                <div class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                  {{ item.joinedAt }}
                </div>
                <div class="p-4 whitespace-nowrap">
                  <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox" class="sr-only peer" [checked]="!item.blocked">
                    <div
                      class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-primary-300 dark:peer-focus:ring-primary-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-primary-600">
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </cdk-accordion-item>
          }
          @if (usersLoading) {
          <div class="flex justify-center items-center p-4">
            <div class="animate-spin">
              <i class="ri-loader-4-line"></i>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
    } @else {
    <app-no-data icon="ri-user-fill" message="No Users found" />
    }
  </div>
</div>