@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Google Sans";
  src: url("/fonts/google-sans.woff2") format("woff2");
}

body {
  @apply bg-gray-100 text-gray-700 font-sans;
}

.firebase-emulator-warning {
  display: none;
}