<div class="my-20 md:w-1/2 mx-auto">
  <div class="flex items-center justify-center text-primary-600 p-2 rounded-sm mb-6">
    <img src="/logo.svg" class="w-10" alt="logo" />
    <span class="text-2xl font-bold ml-2">SoliFood</span>
  </div>

  <div class="bg-white rounded-lg shadow">
    <div class="p-8 space-y-6">
      <h1 class="text-2xl font-bold mb-8 text-center">
        Sign in to your account
      </h1>
      <app-signin-with-google [disabled]="buttonsDisabled" />
      <div class="flex items-center justify-center space-x-4">
        <div class="w-1/2 h-0.5 bg-gray-300"></div>
        <span class="text-gray-500">or</span>
        <div class="w-1/2 h-0.5 bg-gray-300"></div>
      </div>
      <form class="space-y-4 md:space-y-6" (ngSubmit)="handleSubmit()">
        <app-input
          input="email"
          name="email"
          inputId="email"
          label="Your email"
          placeholder="example@example.com"
          [required]="true"
          preIcon="ri-mail-open-line"
          [(ngModel)]="user.email"
          containerClass="mb-4"
        />
        <app-input
          input="password"
          name="password"
          inputId="password"
          label="Password"
          placeholder="••••••••"
          [required]="true"
          postIcon="ri-eye-line"
          [enablePasswordToggle]="true"
          [(ngModel)]="user.password"
          containerClass="mb-4"
        />
        <app-button
          type="submit"
          [disabled]="buttonsDisabled"
          size="xl"
          class="w-full"
        >
          @if (buttonsDisabled) {
          <div class="animate-spin">
            <i class="ri-loader-4-line"></i>
          </div>
          } @else { Sign in }
        </app-button>
      </form>
    </div>
  </div>
</div>
