<div class="my-16">
  <div class="flex justify-between items-center flex-wrap mb-4">
    <h1 class="text-xl font-sans font-bold">Explore latest baskets</h1>
    <div class="flex items-center">
      @if (!isMapView) {
        <div class="flex items-center mx-auto">
          <div class="relative">
            @if (isSearchMode) {
              <div
                class="absolute inset-y-0 start-0 flex items-center ps-3 cursor-pointer"
                (click)="resetSearch()"
              >
                <i class="ri-close-line text-gray-500"></i>
              </div>
            }
            <input
              type="text"
              id="voice-search"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
              placeholder="Search baskets ..."
              [(ngModel)]="searchQuery"
            />
          </div>
          <button
            class="flex items-center py-2.5 px-3 ms-2 text-sm font-medium text-white bg-primary-700 rounded-lg border border-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300"
            (click)="searchBaskets()"
            [disabled]="searchQuery.length === 0 || basketsLoading"
          >
            @if (basketsLoading) {
              <div class="animate-spin">
                <i class="ri-loader-4-line"></i>
              </div>
            } @else {
              <i class="ri-search-line"></i>
            }
          </button>
          <button class="ml-4" type="button" (click)="actionDrawer()">
            <i class="ri-equalizer-line"></i>
          </button>
        </div>
      }
    </div>
  </div>

  <ul class="flex items-center mb-8">
    <li (click)="isMapView = false">
      <input
        type="radio"
        id="list-view"
        name="view"
        class="hidden peer"
        [checked]="!isMapView"
      />
      <label
        for="list-view"
        class="inline-flex items-center justify-between w-full px-5 py-2 text-gray-500 bg-white border border-gray-200 rounded-s-lg cursor-pointer peer-checked:border-primary-600 peer-checked:text-primary-600 hover:bg-gray-50 hover:text-gray-600 transition"
      >
        <div class="flex items-center gap-2">
          <i class="ri-layout-grid-fill"></i>
          <p>List View</p>
        </div>
      </label>
    </li>
    <li (click)="isMapView = true">
      <input
        type="radio"
        id="map-view"
        name="view"
        class="hidden peer"
        [checked]="isMapView"
      />
      <label
        for="hosting-big"
        class="inline-flex items-center justify-between w-full px-5 py-2 text-gray-500 bg-white border border-gray-200 rounded-e-lg cursor-pointer peer-checked:border-primary-600 peer-checked:text-primary-600 hover:bg-gray-50 hover:text-gray-600 transition"
      >
        <div class="flex items-center gap-2">
          <i class="ri-road-map-line"></i>
          <p>Map View</p>
        </div>
      </label>
    </li>
  </ul>

  @if (isMapView) {
    <app-baskets-map-view />
  } @else {
    <app-baskets-list-view [isSearchMode]="isSearchMode" />
  }

  <div
    class="fixed top-0 left-0 h-full w-full z-[9999999] bg-[#00000090] hidden justify-end"
    #notification
  >
    <div class="flex flex-col w-[400px] h-full bg-white z-10 p-5">
      <div class="flex justify-between">
        <h5 class="items-center mt-4 mx-2 text-base font-bold text-gray-500">
          FILTER BASKETS
        </h5>
        <button
          type="button"
          (click)="actionDrawer()"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center"
        >
          <i class="ri-close-line ri-lg"></i>
          <span class="sr-only">Close menu</span>
        </button>
      </div>
      <hr class="my-4 border-2" />
      <div class="mx-4">
        <div class="flex flex-wrap">
          <app-choice
            label="Maximum distance"
            name="max-distance"
            [choices]="[
              { label: '0.5 km', value: '500' },
              { label: '1 km', value: '1000' },
              { label: '2 km', value: '2000' },
              { label: '5 km', value: '5000' },
              { label: '10 km', value: '10000' },
            ]"
            [(ngModel)]="filters.range"
            [isChips]="true"
          ></app-choice>
        </div>
        <div class="my-4">
          <app-choice
            label="Sort By"
            [choices]="[
              { label: 'Newest', value: 'newest' },
              { label: 'Oldest', value: 'oldest' },
              { label: 'High Rating', value: 'high-rating' },
              { label: 'Low Rating', value: 'low-rating' },
            ]"
            name="sort-by-radio"
            [(ngModel)]="filters.sortBy"
          ></app-choice>
        </div>
        <app-tags-input
          label="Tags"
          placeholder="Specify some tags"
          [(ngModel)]="filters.tags"
          name="tags"
        />
        <app-button
          class="w-full mt-4"
          (click)="filterBaskets()"
          data-drawer-hide="filter-drawer"
          aria-controls="filter-drawer"
          [disabled]="filtersLoading"
        >
          @if (filtersLoading) {
            <div class="animate-spin me-2">
              <i class="ri-loader-4-line"></i>
            </div>
            Loading ...
          } @else {
            Apply Filters
          }
        </app-button>
      </div>
    </div>
  </div>
</div>
