<div class="bg-white p-8 m-4 min-h-[90vh]">
  <div class="items-center justify-between lg:flex mb-8">
    <div class="mb-4 lg:mb-0">
      <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">
        Orders
      </h3>
    </div>
    <div class="items-center sm:flex"></div>
    <div class="relative">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <i class="ri-search-line"></i>
      </div>
      <input
        type="search"
        id="default-search"
        class="block w-full min-w-[20vw] p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Search By id, Name..."
        required
      />
      <button
        type="submit"
        class="text-white absolute end-2.5 bottom-2.5 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
      >
        Search
      </button>
    </div>
  </div>
  @if (loading) {
  <app-loading content="Loading orders ..." />
  } @else if (orders.length > 0) {
  <div class="">
    <div class="flex justify-between w-full border-b">
      <div
        class="p-4 w-4/12 text-sm font-semibold text-gray-900 whitespace-nowrap"
      >
        Basket
      </div>
      <div
        class="p-4 w-2/12 text-sm font-semibold text-gray-900 whitespace-nowrap"
      >
        Ordered by
      </div>
      <div
        class="p-4 w-2/12 text-sm font-semibold text-gray-900 whitespace-nowrap"
      >
        Ordered at
      </div>
      <div
        class="p-4 w-2/12 text-sm font-semibold text-gray-900 whitespace-nowrap text-center"
      >
        status
      </div>
      <div
        class="text-center p-4 w-2/12 text-sm font-semibold text-gray-900 whitespace-nowrap"
      >
        Action
      </div>
    </div>
    @for (item of orders; track orders) {
    <div class="flex justify-between w-full">
      <div
        class="p-4 w-4/12 text-sm font-semibold text-gray-900 whitespace-nowrap dark:text-white"
      >
        <a
          [routerLink]="'/baskets/' + item.basket.id"
          class="text-primary-600 hover:underline"
          target="_blank"
        >
          {{ item.basket.title }}
        </a>
      </div>
      <div
        class="p-4 w-2/12 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400"
      >
        {{ item.orderBy.firstName }} {{ item.orderBy.lastName }}
      </div>
      <div
        class="p-4 w-2/12 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400"
      >
        {{ formatDate(item.orderedAt) }}
      </div>
      <div
        class="p-4 w-2/12 text-sm text-center font-normal text-gray-900 whitespace-nowrap dark:text-white"
      >
        <span
          [ngClass]="{
            'bg-blue-100 text-blue-800 border-blue-600': item.status === 'PENDING',
            'bg-green-100 text-green-800 border-green-600': item.status === 'ACCEPTED' || item.status === 'COMPLETED',
            'bg-red-100 text-red-800 border-red-600': item.status === 'REJECTED',
            'bg-yellow-100 text-yellow-800 border-yellow-600': item.status === 'CANCELED',
          }"
          class="text-xs font-medium me-2 px-2.5 py-1 border rounded"
        >
          {{ item.status }}
        </span>
      </div>
      <div class="flex w-2/12 items-center justify-center pr-8">
        <div (click)="openDialog(item)" class="text-primary-800 cursor-pointer">
          <span class="mr-2">Details</span>
          <i class="ri-arrow-right-double-line"></i>
        </div>
      </div>
    </div>
    } @if (basketsLoading) {
    <div class="flex justify-center items-center p-4">
      <div class="animate-spin">
        <i class="ri-loader-4-line"></i>
      </div>
    </div>
    }
  </div>
  } @else {
  <app-no-data icon="ri-shopping-basket-2-line" message="No Order found" />
  }
</div>
